<div class="jobs-container">
  <div class="search-bar">
    <%= form_tag jobs_path, method: :get, class: "d-flex align-items-center" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control index-page-search",
    placeholder: "Search by company name,location or title"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class = "jobs-table">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Company Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Required Attributes</th>
        <th>Responsibilities</th>
        <th>More informations</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title  %></td>
        <td><%= job.company_name  %></td>
        <td><%= job.description  %></td>
        <td><%= job.location  %></td>
        <td><%= job.required_attributes%></td>
        <td><%= job.responsabilities.delete! '[]""'%></td>
        <td><%= link_to "See more", job_path(job) %>
        <% end %>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="pagination">
    <%= will_paginate @jobs %>
  </div>
    <% if params[:query].present? %>
    <%= link_to 'Back', jobs_path, class: 'btn-primary btn-mini btn-success hidden' %>
    <%else %>
    <%= link_to 'Back', root_path, class: 'btn-primary btn-mini btn-success hidden' %>
      <%end%>
</div>
