<div class="container">
  <div class="form">
    <h2>Upload your Json file</h2>
        <%= simple_form_for @job, html: { multipart: true } do |f| %>
        <%= f.simple_fields_for :attached_files do |af| %>
          <%= af.input :file, as: :file, label: false, required: true %>
        <% end %>
        <%= f.button :submit,
                     'Upload File',
                     class: 'btn-primary btn-mini btn-success hidden',
                     id: 'submit-file-upload' %>
        <% end %>
  </div>
  <%= link_to 'See all Jobs', jobs_path, class: 'btn-primary btn-mini btn-success hidden' %><br>
</div>
